In [48]:
import pandas as pd 
import json
from pandas.io.json import json_normalize
from collections import Counter

In [49]:
json_df = pd.read_json('data/world_bank_projects.json')
json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

## 1. Find the 10 countries with most projects

In [54]:
json_df['countryname'].head()

0    Federal Democratic Republic of Ethiopia
1                        Republic of Tunisia
2                                     Tuvalu
3                          Republic of Yemen
4                         Kingdom of Lesotho
Name: countryname, dtype: object

In [55]:
countries = json_df['countryname']

In [56]:
Counter(countries).most_common(10)

[("People's Republic of China", 19),
 ('Republic of Indonesia', 19),
 ('Socialist Republic of Vietnam', 17),
 ('Republic of India', 16),
 ('Republic of Yemen', 13),
 ('Kingdom of Morocco', 12),
 ('Nepal', 12),
 ("People's Republic of Bangladesh", 12),
 ('Republic of Mozambique', 11),
 ('Africa', 11)]

## 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [58]:
themes = json_df['mjtheme_namecode']

In [59]:
themes.head()

0    [{'code': '8', 'name': 'Human development'}, {...
1    [{'code': '1', 'name': 'Economic management'},...
2    [{'code': '5', 'name': 'Trade and integration'...
3    [{'code': '7', 'name': 'Social dev/gender/incl...
4    [{'code': '5', 'name': 'Trade and integration'...
Name: mjtheme_namecode, dtype: object

In [60]:
theme_df = pd.DataFrame(themes)

In [61]:
theme_df.head()

                                    mjtheme_namecode
0  [{'code': '8', 'name': 'Human development'}, {...
1  [{'code': '1', 'name': 'Economic management'},...
2  [{'code': '5', 'name': 'Trade and integration'...
3  [{'code': '7', 'name': 'Social dev/gender/incl...
4  [{'code': '5', 'name': 'Trade and integration'...

In [62]:
json_df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [63]:
countries_projects = json_df[['countryname', 'project_name']]
countries_projects.head()

,countryname,project_name
0,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...
1,Republic of Tunisia,TN: DTF Social Protection Reforms Support
2,Tuvalu,Tuvalu Aviation Investment Project - Additiona...
3,Republic of Yemen,Gov't and Civil Society Organization Partnership
4,Kingdom of Lesotho,Second Private Sector Competitiveness and Econ...

In [64]:
Counter(countries_projects).most_common(10)

[('countryname', 1), ('project_name', 1)]

In [65]:
unique_projects = countries_projects['countryname'].value_counts()

In [66]:
unique_projects.head()

People's Republic of China       19
Republic of Indonesia            19
Socialist Republic of Vietnam    17
Republic of India                16
Republic of Yemen                13
Name: countryname, dtype: int64

In [67]:
unique_projects.head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

## 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [68]:
themes = pd.DataFrame(columns=['code', 'name'])
for row in json_df.mjtheme_namecode:
    themes = themes.append(json_normalize(row))
themes.reset_index(drop=True, inplace=True)
themes.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [69]:
number_of_themes = themes['name'].value_counts()

In [70]:
number_of_themes.head()

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Name: name, dtype: int64

In [71]:
number_of_themes.head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [29]:
themes['name'].fillna('unknown')

0                                  Human development
1
2                                Economic management
3              Social protection and risk management
4                              Trade and integration
5                           Public sector governance
6       Environment and natural resources management
7              Social protection and risk management
8                        Social dev/gender/inclusion
9                        Social dev/gender/inclusion
10                             Trade and integration
11          Financial and private sector development
12             Social protection and risk management
13
14                          Public sector governance
15          Financial and private sector development
16      Environment and natural resources management
17
18                                 Rural development
19
20                          Public sector governance
21                          Public sector governance
22                          Public sector governance
23                                 Rural development
24
25                                 Rural development
26             Social protection and risk management
27             Social protection and risk management
28      Environment and natural resources management
29
                            ...
1469                               Human development
1470                               Urban development
1471           Social protection and risk management
1472           Social protection and risk management
1473                               Urban development
1474                        Public sector governance
1475                        Public sector governance
1476                               Rural development
1477
1478                               Human development
1479                     Social dev/gender/inclusion
1480    Environment and natural resources management
1481
1482           Social protection and risk management
1483
1484        Financial and private sector development
1485                     Social dev/gender/inclusion
1486                               Human development
1487                           Trade and integration
1488                        Public sector governance
1489                               Human development
1490                               Rural development
1491
1492                               Rural development
1493                               Rural development
1494                               Rural development
1495                               Urban development
1496                               Human development
1497                           Trade and integration
1498        Financial and private sector development
Name: name, Length: 1499, dtype: object

In [30]:
print((themes['name'] == '').sum())

122

In [31]:
missing_names = themes['name'] == ''

In [36]:
import numpy as np

In [39]:
missing_names.replace('', np.NaN)

0       False
1        True
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13       True
14      False
15      False
16      False
17       True
18      False
19       True
20      False
21      False
22      False
23      False
24       True
25      False
26      False
27      False
28      False
29       True
        ...
1469    False
1470    False
1471    False
1472    False
1473    False
1474    False
1475    False
1476    False
1477     True
1478    False
1479    False
1480    False
1481     True
1482    False
1483     True
1484    False
1485    False
1486    False
1487    False
1488    False
1489    False
1490    False
1491     True
1492    False
1493    False
1494    False
1495    False
1496    False
1497    False
1498    False
Name: name, Length: 1499, dtype: bool

In [40]:
missing_names.head()

0    False
1     True
2    False
3    False
4    False
Name: name, dtype: bool

In [41]:
themes.head(10)

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

In [42]:
print(themes.isnull().sum())

code    0
name    0
dtype: int64

In [43]:
json_df.shape

(500, 50)

In [44]:
json_df.groupby('countryname').size().head()

countryname
Africa                    11
Antigua and Barbuda        1
Arab Republic of Egypt     2
Argentine Republic         2
Bosnia and Herzegovina     1
dtype: int64

In [45]:
json_df.groupby('countryname')['countryname'].count().sort_values(ascending = False).head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [46]:
json_df.loc[0, 'mjtheme_namecode']

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]